@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.no-webp .inicio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/header.webp);

}
.webp .inicio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url(../img/header.webp);
    max-height: 600;
}
.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;
    display: flex;
    justify-content: center;
    
    &.inicio{
        background-position: center center;
        background-size: cover;

        @include tablet{
            min-height: 70rem;
            
        }

        .contenido-header{
            @include tablet {
                min-height: 70rem;
            }
        }
    }

}    
.logo{
        color: white;
        font-size: 4rem;
        font-weight: bolder;
        padding: 0;
        margin: 0;

        span{
            color: $rosa;
        }
    }
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    h1{
        font-family: 'Prata', serif;
        text-align: right;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 50rem;
    }

}